<div class="text-banner">
    <div class="section-head">
        <h1>Who We Are</h1>
        <p>At STEAM Discovery Academy students learn to think about problems and experiment with a variety of approaches to
            solve them. We foster learning and the understanding of art and science through experimentation. Students collaborate
            and communicate while exploring, discovering scientific knowledge and visualizing real-world applications. Students
            get a feel for what it is to be a real scientist. Teachers support the STEAM Discovery Academy because it integrates
            phenomenon-based learning with project-based learning. Courses encourage student’s own curiosity.
        </p>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="staff">
        <div class="row staff-member">
            <div class="col-sm-2">
                <img src="../images/bruscia_staff_pic.jpg" class="img-responsive img-thumbnail">
            </div>
            <div class="col-sm-10">
                <h3>Director - Michael Brusica</h3>
                <p>Mike Bruscia has over 20 years of experience in education, focusing primarily on science education through
                    travel and adventure programs and ecotourism. Mike has led clients to witness charismatic mega-fauna
                    throughout the globe. From photographing polar bears in the Arctic to penguins in the Antarctic, he enjoys
                    sharing his passion for science. Mike holds a BS degree in wildlife ecology and conservation from the
                    University of Florida at Gainesville. Go Gators!
                </p>
            </div>
        </div>
        <hr>
        <div class="row staff-member">
            <div class="col-sm-10 col-sm-offset-2">
                <h3>Staff</h3>
                <p>STEAM Discovery Academy employs Science and Art enthusiasts. Staff is a combination of university students, professionals
                and educators.</p>
            </div>
        </div>
    </div>
</div>