<div class="course-section">
    <div class="text-banner">
        <div class="section-head">
            <h1>STEAM Discovery</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="course-element col-md-4 col-md-offset-2">
            <img class="img-thumbnail" src="images/forklightning.jpg" />
        </div>
        <div class="course-element col-md-4">
            <img class="img-thumbnail" src="images/drone.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="course-element col-md-4">
            <img class="img-thumbnail" src="images/painting_fence.jpg" />
        </div>
        <div class="course-element-text col-md-4">
            <p>"The most beautiful thing we can experience is the mysterious. It is the source of all true art and science"</p>
            <p>~ Albert Einstein</p>
        </div>
        <div class="course-element col-md-4">
            <img class="img-thumbnail" src="images/science_girl.jpg" />
        </div>
    </div>
        <div class="row">
        <div class="course-element col-md-4 col-md-offset-2">
            <img class="img-thumbnail" src="images/rocket.jpg" />
        </div>
        <div class="course-element col-md-4">
            <img class="img-thumbnail" src="images/raking_leaves.jpg" />
        </div>
    </div>
</div>